<%= render 'shared/page_title', title: "Runner: " +@runner.runnername %>

<div class="row"></div>
  <div class="col-md-4 col-md-offset-4 center">
    <%= gravatar_for @runner, size: 200 %>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <h3><em>Shoes:</em></h3>
    <%= will_paginate @shoes %>
  </div>
</div>

<% @shoes.each do |shoe| %>
  <div class="row">
    <div class="col-lg-6 well col-lg-offset-3">
      <h4><%= link_to shoe.name, shoe_path(shoe) %></h4>
        <p><%= shoe.summary %></p>
        
          <p><span class='quiet'>Created <small><%= time_ago_in_words(shoe.created_at) %> ago;          </small></span>
            <span class='quiet'>Updated <small><%= time_ago_in_words(shoe.updated_at) %> ago
            </small></span></p>
        
        <div class="pull-right">
          <%= link_to like_shoe_path(shoe, like: true), method: :post do %>
            <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= shoe.thumbs_up_total %>
            <% end %> &nbsp&nbsp&nbsp&nbsp
            <%= link_to like_shoe_path(shoe, like: false), method: :post do %>
              <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= shoe.thumbs_down_total %>
          <% end %>
        </div>
    </div>
  </div>

<% end %>