<%= render 'shared/errors', obj: @shoe %>

<div class="row">
  <div class="well col-md-8 col-offset-2">
    <%= form_for(@shoe, html: { multipart: true }) do |f| %>
      <%= f.label "Shoe Brand and Model" %>
      <%= f.text_field :name, :placeholder => "ex. Asics Gel-NIMBUS 17 or Saucony Kinvara 4" %>
      
      <%= f.label "Shoe Information" %>
      <%= f.text_area :description, rows: 10, :placeholder => "Color, Size, Date Purchased, etc." %>
      
      <span class="picture">
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
      </span>
      
      <%= f.submit(@shoe.new_record? ? 'Save Your Running Shoe' : 'Edit Your Running Shoe', class: "btn btn-success") %>
      
    <% end %>
    
  </div>
  
</div>

<script type="text/javascript">
  $('#shoe_picture').bind('change', function() {
    size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file');
    }
  });
</script>